<% if (@lines.empty?) %>
  <p>There are no lines.</p>
<% else %>
  <%= will_paginate @lines %>
  <table cellspacing="5" border>
    <% for line in @lines %>
      <tr>
        <td><%= line.line_date %></td>
        <td><%= line.call_received.strftime("%m/%d/%Y %H:%M:%S") %></td>
        <td><%= line.incident_number %></td>
        <td><%= line.unit %></td>
        <td><%= line.call_type %></td>
        <td><%= line.address %></td>
      </tr>
    <% end %>
  </table>
<% end %>
