<% event_class = "event_" + (event_counter.modulo(2).nonzero? ? "1" : "2") %>
  <script>
  <% map = Variable.new("map") -%>
  <% green_icon = Variable.new("green_icon") -%>
  <% blue_icon = Variable.new("blue_icon") -%>
  <% marker_content = render_to_string :partial => "event_marker",
                                       :object => event -%>


        add_overlay = function() {
  
  <%= map.add_overlay(
        GMarker.new(
          [event.location.latitude,event.location.longitude],
          :info_window => marker_content,
          :title => event.lines[0].call_type,
          :icon => (event.location.status == "VALID" ? green_icon : blue_icon)
        )
      ).to_javascript %>

        };

	if (map) {
		add_overlay();
	} else {
        	window.onload = addCodeToFunction(window.onload, add_overlay);
	}

  </script>

<tr class="<%= event_class %>">
  <td class="event_link">
    <%= link_to( ">",
          :controller => "events",
          :action => "show",
          :id => event.id) %> 
  </td>
  <td class="datetime">
    <%= event.event_datetime.strftime("%m/%d/%y") %><br/>
    <%= event.event_datetime.strftime("%H:%M") %>
  </td>
  <td class="response">
    <%= event.response_time.nil? ? "" : event.response_time / 60 %>
  </td>
  <td class="details">
    <%= event.lines.collect{|line|line.call_type+"..."}.uniq.join(", ") %><br/>
    <%= event.location.clean_address.nil? ? "" : event.location.clean_address.titleize %>
  </td>
  <td class="units">
    <%= event.lines.collect{|line|line.unit}.uniq.join(", ") %>
  </td>
</tr>
