<% event_class = "event_" + (event_counter.modulo(2).nonzero? ? "1" : "2") %>

<tr class="<%= event_class %>">
  <td class="event_link">
    <%= link_to( ">",
          :controller => "events",
          :action => "show",
          :id => event.id) %> 
  </td>
  <td class="datetime">
    <%= event.event_datetime.strftime("%m/%d") %><br/>
    <%= event.event_datetime.strftime("%H:%M") %>
  </td>
  <td class="response">
    <%= event.response_time.nil? ? "" : event.response_time / 60 %>
  </td>
  <td class="details">
    <%= event.lines.collect{|line|line.call_type+"..."}.uniq.join(", ") %><br/>
    <%= event.location.clean_address.titleize %>
  </td>
  <td class="units">
    <%= event.lines.collect{|line|line.unit}.uniq.join(", ") %>
  </td>
</tr>
