<html>
<head>
  <%= GMap.header %>
  <%= @map.to_html %>
</head>
<title></title>
<body>
<% if @events.empty? %>
  <p>There are no events to display</p>
<% else %>
  <%= @map.div(:width => 600, :height => 400) %>
  <%= will_paginate @events %>
  <table>
    <%= render :partial => "event", :collection => @events %>
  </table>
<% end %>
</body>
</html>
