<html>
<head>
  <%= javascript_include_tag :defaults %>
  <%= GMap.header(:host => request.host) %>
  <%= @map.to_html %>
<link rel="stylesheet" type="text/css" href="/css/events.css"/>
</head>
<title></title>
<body align="center">
<% if @events.empty? %>
  <p>There are no events to display</p>
<% else %>
  <%= @map.div %>
  <div id="events_div"> 
    <%= render :partial => "events_list" %>
  </div>
<% end %>
</body>
</html>
